*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100vw;
}

/* usar header, main, footer e nav */
.item-header
{
    grid-area: header;
    background-color: aquamarine;
}

.item-nav
{
    grid-area: nav;
    background-color: bisque;
}

.item-main
{
    grid-area: main;
    background-color: blueviolet;
}

.item-footer
{
    grid-area: footer;
    background-color: chartreuse;
}

.grid-container
{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: 
        "nav header header header"
        "nav main main main"
        "nav footer footer footer"
    ;
}

.item
{
    display: flex;
    align-items: center;
    justify-content: center;
}
