<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>exercício 2 - Flex</title>
</head>
<body>
    <header>
        <p>HEADER</p>
    </header>
    <main>
        <nav>
            <p>NAV</p>
        </nav>
        <article>
            <p>ARTICLE</p>
        </article>
        <aside>
            <p>ASIDE</p>
        </aside>
    </main>
    <footer>
        <p>FOOTER</p>
    </footer>
</body>
</html>