*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100vw;
}

.item-a
{
    grid-area: header;
    background-color: aquamarine;
}

.item-b
{
    grid-area: nav;
    background-color: azure;
}

.item-c
{
    grid-area: article;
    background-color: blueviolet;
}

.item-d
{
    grid-area: aside;
    background-color: brown;
}

.item-e
{
    grid-area: footer;
    background-color: chartreuse;
}

.grid-container
{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
        "header header header header"
        "nav article article aside"
        "footer footer footer footer"
    ;
}

.item
{
    display: flex;
    align-items: center;
    justify-content: center;
}
