*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color:  antiquewhite;
}

header
{
    background-color: blueviolet;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    background-color: crimson;
    flex-grow: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer
{
    background-color: darkmagenta;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

p 
{
    text-align: center;
}