<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>exercício 3 - Flex</title>
</head>

<body>
    <div class="flex-container">
        <nav class="item item-nav">
            <p>nav</p>
        </nav>
        <div class="flex-container-row">
            <header class="item item-header">
                <p>header</p>
            </header>
            <main class="item item-main">
                <p>main</p>
            </main>
            <footer class="item item-footer">
                <p>footer</p>
            </footer>
        </div>
    </div>
</body>

</html>