<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Exercício 4 - Grid</title>
</head>
<body>
   <div class="container-grid">
      <header class="item item-header">
         <p>HEADER</p>
      </header>
      <nav class="item item-nav">
         <p>NAV</p>
      </nav>
      <article class="item item-article">
         <p>ARTICLE</p>
      </article>
      <aside class="item item-aside">
         <p>ASIDE</p>
      </aside>
      <footer class="item item-footer">
         <p>FOOTER</p>
      </footer>
   </div>
</body>
</html>